<%- include('header.ejs') %>

    <style>
        table.fill-letters {
            width: 100%;
            margin-top: 2em;
            border-collapse: separate;
            border-spacing: 0 1em;
        }

        table.fill-letters td {
            font-size: 14pt;
            padding: 0.5em;
            vertical-align: top;
        }

        .missing-word {
            font-family: monospace;
            font-weight: bold;
            letter-spacing: 0.2em;
            font-size: 16pt;
        }

        .line {
            display: inline-block;
            border-bottom: 1px solid #000;
            width: 150px;
            margin-left: 1em;
        }
    </style>

    <table class="fill-letters">
        <% items.forEach((item, idx)=> { %>
            <tr>
                <td>
                    <%= idx + 1 %>.
                </td>
                <td class="missing-word">
                    <%= item.sentence %>
                </td>
                <td><span class="line">&nbsp;</span></td>
            </tr>
            <% }) %>
    </table>